.post-container {
  border-radius: 5px;
}

.engage-section {
  /* height: 2.2rem; */
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.engage-section button {
  all: unset;
}

.engage-section svg {
  font-size: 1.75rem;
  cursor: pointer;
  transition: 200ms;
}

svg.clicked {
  animation-duration: 200ms;
  animation-direction: alternate;
  animation-name: beat;
  animation-iteration-count: 2;
}

.engage-section form:last-child {
  margin-left: 1rem;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
