.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
  width: 100%;
  height: 76px;
}

.count {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.label {
  color: var(--light-grey);
}

.active {
  border-bottom: 2px solid black;
}
