@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global variables */
:root {
  --logo-font: "Grand Hotel", cursive;
  --main-font: "Roboto", sans-serif;
  --input-grey: rgba(220, 220, 220, 0.3);
  --light-grey: #bbb8b8;
}

/* Global styles */
.red-bg {
  background-color: red;
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
}
